openapi: 3.0.3
info:
  title: CrowdPM API
  version: 1.0.0
  description: >
    API used by CrowdPM to manage devices and retrieve PM2.5 ingest batches.
    Error responses use a normalized JSON format with a required `error` field and
    optional `message`.
  license:
    name: AGPL-3.0-or-later
    url: https://github.com/Denuo-Web/CrowdPMPlatform/blob/main/LICENSE.md
servers:
  - url: https://us-central1-crowdpmplatform.cloudfunctions.net/crowdpmApi
    description: Deployed Firebase Functions API
  - url: http://127.0.0.1:5001/crowdpm-local/us-central1/crowdpmApi
    description: Local Firebase emulator API
security: []
paths:
  /health:
    get:
      operationId: healthCheck
      summary: Health check
      description: Returns 200 when the API is ready to receive traffic.
      security: []
      responses:
        '200':
          description: Service is healthy.
        '400':
          description: Malformed request.
  /v1/node-purchase/checkout-session:
    post:
      operationId: createNodePurchaseCheckoutSession
      summary: Create a Stripe Checkout session for node hardware
      description: >
        Creates a Stripe Checkout session for the one-time CrowdPM node hardware
        purchase. Checkout collects a US shipping address, applies Stripe Tax
        based on that destination, and charges the selected hardware variant.
        The standard PM2.5 node is $375 with shipping included. Single-sensor
        variants are $420, and the combined CO2 + NO2 variant is $480 before
        tax. The selected quantity can be 1 through 10 devices. If a valid
        bearer token is supplied, the completed hardware receipt is tied to that
        account. The API lazily provisions the backing Stripe product + price for
        each variant the first time that variant is requested, then reuses the
        stored identifiers on later requests.
      security: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NodePurchaseCheckoutRequest'
      responses:
        '200':
          description: Checkout session created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckoutRedirectSession'
        '400':
          description: Invalid or unsupported hardware variant.
        '429':
          description: Rate limited.
        '500':
          description: Stripe or application configuration is missing.
        '502':
          description: Stripe returned an upstream error.
  /v1/node-purchase/receipts:
    get:
      operationId: listNodePurchaseReceipts
      summary: List signed-in user's node hardware receipts
      description: Returns completed CrowdPM node hardware purchase receipts tied to the signed-in account.
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Completed node hardware receipts.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NodePurchaseReceipt'
        '401':
          description: Missing or invalid bearer token.
        '429':
          description: Rate limited.
  /v1/theme-purchase/checkout-session:
    post:
      operationId: createThemeSaveCheckoutSession
      summary: Create a Stripe Checkout session for the theme save unlock
      description: >
        Creates an authenticated Stripe Checkout session for the one-time CrowdPM
        theme save unlock purchase. The unlock is tied to the signed-in account,
        applies Stripe Tax during checkout, and permanently enables saving theme
        preferences for that account after successful payment.
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Checkout session created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckoutRedirectSession'
        '401':
          description: Missing or invalid bearer token.
        '409':
          description: Theme saving is already unlocked for the account.
        '429':
          description: Rate limited.
        '500':
          description: Stripe or application configuration is missing.
        '502':
          description: Stripe returned an upstream error.
  /v1/subscription/checkout-session:
    post:
      operationId: createSubscriptionCheckoutSession
      summary: Create a Stripe Checkout session for a CrowdPM Pro subscription
      description: >
        Creates an authenticated Stripe Checkout session for a recurring CrowdPM
        Pro subscription. The checkout is linked to the signed-in account and
        provisions higher device, batch, upload, and export limits after payment.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [offerId]
              properties:
                offerId:
                  type: string
                  enum: [pro_monthly, pro_yearly]
      responses:
        '200':
          description: Checkout session created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckoutRedirectSession'
        '401':
          description: Missing or invalid bearer token.
        '429':
          description: Rate limited.
        '500':
          description: Stripe or application configuration is missing.
        '502':
          description: Stripe returned an upstream error.
  /v1/subscription/confirm:
    post:
      operationId: confirmSubscriptionCheckoutSession
      summary: Confirm a completed subscription checkout
      description: >
        Retrieves a completed Stripe Checkout session, verifies that it belongs
        to the signed-in account, and synchronizes the active subscription state
        into CrowdPM account entitlements.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [sessionId]
              properties:
                sessionId:
                  type: string
      responses:
        '200':
          description: Subscription entitlement synchronized.
          content:
            application/json:
              schema:
                type: object
                required: [confirmed, sessionId, subscriptionSynchronized]
                properties:
                  confirmed:
                    type: boolean
                    example: true
                  sessionId:
                    type: string
                  subscriptionSynchronized:
                    type: boolean
                    example: true
        '401':
          description: Missing or invalid bearer token.
        '403':
          description: Checkout session belongs to another user.
        '409':
          description: Checkout session is still pending.
        '429':
          description: Rate limited.
        '502':
          description: Stripe returned an upstream error.
  /v1/subscription/billing-portal:
    post:
      operationId: createBillingPortalSession
      summary: Open the Stripe Billing Portal for the signed-in account
      description: >
        Creates a Stripe Billing Portal session for the signed-in user when a
        Stripe customer record is already linked to the account.
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Billing portal session created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CheckoutRedirectSession'
        '401':
          description: Missing or invalid bearer token.
        '409':
          description: No Stripe customer is linked to the account yet.
        '429':
          description: Rate limited.
        '502':
          description: Stripe returned an upstream error.
  /v1/payments/stripe/webhook:
    post:
      operationId: handleStripeWebhook
      summary: Receive Stripe webhook events
      description: >
        Accepts Stripe webhook callbacks and records successful node hardware,
        theme save unlock, and recurring subscription events, including shipping
        details where applicable, calculated tax, and account entitlements after
        verifying the
        `Stripe-Signature` header against the raw request body.
      security: []
      parameters:
        - in: header
          name: Stripe-Signature
          required: true
          schema:
            type: string
          description: Signature header generated by Stripe for webhook verification.
      responses:
        '200':
          description: Webhook event accepted.
          content:
            application/json:
              schema:
                type: object
                required: [received]
                properties:
                  received:
                    type: boolean
                    example: true
        '400':
          description: Missing signature or signature verification failed.
        '429':
          description: Rate limited.
  /device/start:
    post:
      operationId: startDevicePairing
      summary: Start device pairing
      description: >
        Called by a headless node to begin the pairing flow. The node supplies its
        ephemeral Ed25519 public key (`pub_ke`) along with hardware metadata and
        receives a `device_code` + human-readable `user_code`. A human must visit
        `/activate` to approve the request before the device can continue.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [pub_ke, model, version]
              properties:
                pub_ke:
                  type: string
                  description: Base64url-encoded Ed25519 public key that will be used with DPoP during pairing.
                model:
                  type: string
                  example: rpi-node
                version:
                  type: string
                  example: 1.2.3
                nonce:
                  type: string
                  description: Optional client-provided nonce for idempotency.
      responses:
        '200':
          description: Pairing session created.
          content:
            application/json:
              schema:
                type: object
                required: [device_code, user_code, verification_uri, poll_interval, expires_in]
                properties:
                  device_code:
                    type: string
                    description: 128-bit opaque identifier used by the device when polling.
                  user_code:
                    type: string
                    description: Human-readable code displayed to the operator.
                  verification_uri:
                    type: string
                    format: uri
                    description: URL where the human completes activation (`/activate`).
                  verification_uri_complete:
                    type: string
                    format: uri
                    description: Deep link that includes the user code in the query string.
                  poll_interval:
                    type: integer
                    description: Minimum seconds between token polls.
                  expires_in:
                    type: integer
                    description: Lifetime of the device and user codes in seconds.
        '400':
          description: Invalid pairing request.
        '429':
          description: Rate limited.
  /device/token:
    post:
      operationId: pollPairingToken
      summary: Poll for a registration token
      description: >
        Called by the device after the human approves pairing. Requires a DPoP proof bound
        to the `pub_ke` submitted to `/device/start`. While the human has not yet approved,
        the endpoint returns `authorization_pending`. After approval it returns a short-lived
        `registration_token` JWT that can be redeemed via `/device/register`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [device_code]
              properties:
                device_code:
                  type: string
      responses:
        '200':
          description: Registration token issued.
          content:
            application/json:
              schema:
                type: object
                required: [registration_token, expires_in]
                properties:
                  registration_token:
                    type: string
                    description: JWT scoped to the `device_register` audience.
                  expires_in:
                    type: integer
                    description: Token lifetime in seconds.
        '400':
          description: Session pending, expired, or invalid.
  /device/register:
    post:
      operationId: completeDeviceRegistration
      summary: Register a device identity
      description: >
        Exchanges a `registration_token` for a long-lived device identity. The caller must
        present the bearer token in `Authorization: Bearer` *and* a DPoP proof bound to the
        ephemeral key (`Ke`). The body must include the device's long-term Ed25519 key (`Kl`)
        as a JWK.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                jwk_pub_kl:
                  type: object
                  description: Ed25519 JWK representing the device's long-term key.
                csr:
                  type: string
                  description: Optional PKCS#10 CSR (not yet supported).
      responses:
        '200':
          description: Device registered.
          content:
            application/json:
              schema:
                type: object
                required: [device_id, jwk_pub_kl, issued_at]
                properties:
                  device_id:
                    type: string
                  jwk_pub_kl:
                    type: object
                  issued_at:
                    type: integer
                    description: UNIX timestamp (seconds) when the device record was created.
        '400':
          description: Invalid request payload.
        '401':
          description: Missing/invalid registration token or DPoP proof.
        '403':
          description: Session not authorized for this account.
  /device/access-token:
    post:
      operationId: issueDeviceAccessToken
      summary: Issue a DPoP-bound device access token
      description: >
        Exchanges proof-of-possession of the registered long-term key (`Kl`) for a short-lived
        access token scoped to ingest APIs. Requires a DPoP proof bound to `Kl`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [device_id]
              properties:
                device_id:
                  type: string
                scope:
                  type: array
                  items:
                    type: string
                  description: Optional scopes (defaults to `ingest.write`).
      responses:
        '200':
          description: Access token issued.
          content:
            application/json:
              schema:
                type: object
                required: [access_token, token_type, expires_in, device_id]
                properties:
                  access_token:
                    type: string
                  token_type:
                    type: string
                    example: DPoP
                  expires_in:
                    type: integer
                  device_id:
                    type: string
        '401':
          description: Missing or invalid DPoP proof.
        '403':
          description: Device not active.
  /v1/devices:
    get:
      operationId: listDevices
      summary: List devices
      description: >
        Returns the devices the authenticated caller can access. Devices may be
        shared with multiple Firebase users, and the caller only receives entries
        where their UID is a member.
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Devices returned.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Device'
        '401':
          description: Authentication required.
    post:
      summary: Register a device
      description: >
        Registers a new device for the authenticated user. The device inherits the
        requesting user's Firebase UID as its owner.
      operationId: registerDevice
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterDeviceRequest'
      responses:
        '201':
          description: Device registered.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeviceRegistrationResponse'
        '400':
          description: Invalid request payload.
        '401':
          description: Missing or invalid bearer token.
  /v1/devices/{id}/revoke:
    post:
      operationId: revokeDevice
      summary: Revoke a device
      description: >
        Immediately revokes a device owned by the caller. Revocation tears down active access
        tokens and prevents future ingest requests until the node is re-registered.
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Device revoked.
        '401':
          description: Missing or invalid bearer token.
        '403':
          description: Caller does not own the device.
        '404':
          description: Device not found.
  /v1/device-activation:
    get:
      operationId: getActivationSession
      summary: Fetch activation session
      description: >
        Returns metadata about a pending pairing session so the user can verify the request
        before approving it. Requires a signed-in Firebase user.
      security:
        - BearerAuth: []
      parameters:
        - name: user_code
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Pending pairing session.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivationSession'
        '401':
          description: Missing or invalid bearer token.
        '404':
          description: Session not found.
  /v1/device-activation/authorize:
    post:
      operationId: authorizeActivationSession
      summary: Approve a pending device
      description: >
        Associates a pending pairing session with the caller's account. Accounts with MFA
        enabled must satisfy a fresh second factor before this endpoint succeeds.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [user_code]
              properties:
                user_code:
                  type: string
      responses:
        '200':
          description: Device authorized.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ActivationSession'
        '401':
          description: Missing credentials or MFA requirement not satisfied.
        '404':
          description: Session not found.
  /v1/admin/devices/{id}/suspend:
    post:
      operationId: suspendDevice
      summary: Suspend a device
      description: >
        Marks a device as suspended. Suspended devices cannot submit new measurements.
      security:
        - BearerAuth: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: Identifier of the device to suspend.
      responses:
        '204':
          description: Device suspended.
        '401':
          description: Missing or invalid bearer token.
        '403':
          description: Caller lacks permission to suspend the device.
  /v1/admin/ingest-smoke-test:
    post:
      operationId: runIngestSmokeTest
      summary: Run ingest smoke test
      description: >
        Seeds synthetic measurements and invokes the ingest pipeline for diagnostics.
      security:
        - BearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IngestSmokeTestRequest'
      responses:
        '200':
          description: Smoke test completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IngestSmokeTestResponse'
        '400':
          description: Invalid smoke test request.
        '500':
          description: Smoke test failed.
        '401':
          description: Missing or invalid bearer token.
        '403':
          description: Caller lacks permission to run smoke tests.
  /v1/admin/ingest-smoke-test/cleanup:
    post:
      operationId: cleanupIngestSmokeTest
      summary: Clean up ingest smoke test devices
      description: >
        Removes seeded measurement data and deletes generated ingest files.
      security:
        - BearerAuth: []
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IngestCleanupRequest'
      responses:
        '200':
          description: Cleanup completed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IngestCleanupResponse'
        '400':
          description: Invalid cleanup request.
        '401':
          description: Missing or invalid bearer token.
        '403':
          description: Caller lacks permission to clean up smoke tests.
  /v1/admin/submissions:
    get:
      operationId: listAdminSubmissions
      summary: List submissions for moderation
      description: >
        Returns recent ingest batches across devices for moderator workflows.
      security:
        - BearerAuth: []
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 200
        - name: moderationState
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/ModerationState'
        - name: visibility
          in: query
          required: false
          schema:
            $ref: '#/components/schemas/BatchVisibility'
      responses:
        '200':
          description: Submission list returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminSubmissionListResponse'
        '401':
          description: Missing or invalid bearer token.
        '403':
          description: Caller lacks permission to view submissions.
  /v1/admin/submissions/{deviceId}/{batchId}:
    patch:
      operationId: moderateSubmission
      summary: Moderate a submission
      description: >
        Updates moderation state for a single ingest batch.
      security:
        - BearerAuth: []
      parameters:
        - name: deviceId
          in: path
          required: true
          schema:
            type: string
        - name: batchId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminSubmissionUpdateRequest'
      responses:
        '200':
          description: Updated submission returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminSubmissionSummary'
        '401':
          description: Missing or invalid bearer token.
        '403':
          description: Caller lacks permission to moderate submissions.
        '404':
          description: Submission not found.
  /v1/admin/users:
    get:
      operationId: listAdminUsers
      summary: List users for moderation
      description: >
        Returns users from Firebase Auth for administration workflows.
      security:
        - BearerAuth: []
      parameters:
        - name: pageToken
          in: query
          required: false
          schema:
            type: string
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 1000
      responses:
        '200':
          description: Users returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminUsersListResponse'
        '401':
          description: Missing or invalid bearer token.
        '403':
          description: Caller lacks permission to manage users.
  /v1/admin/users/{uid}:
    patch:
      operationId: updateAdminUser
      summary: Update user moderation settings
      description: >
        Updates user roles and/or disabled status.
      security:
        - BearerAuth: []
      parameters:
        - name: uid
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdminUserUpdateRequest'
      responses:
        '200':
          description: User updated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminUserSummary'
        '401':
          description: Missing or invalid bearer token.
        '403':
          description: Caller lacks permission to manage users.
  /v1/public/batches:
    get:
      operationId: listPublicBatches
      summary: List public approved batches
      description: >
        Returns recent public batches that are approved by moderation.
      security: []
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
      responses:
        '200':
          description: Public batches returned.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/PublicBatchSummary'
  /v1/public/batches/{deviceId}/{batchId}:
    get:
      operationId: getPublicBatchDetail
      summary: Retrieve public approved batch detail
      description: >
        Returns batch detail payload for a public, approved batch.
      security: []
      parameters:
        - name: deviceId
          in: path
          required: true
          schema:
            type: string
        - name: batchId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Public batch detail returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicBatchDetail'
        '404':
          description: Batch not found or not publicly visible.
  /v1/batches:
    get:
      operationId: listBatches
      summary: List recent ingest batches
      description: >
        Returns the most recent batches owned by the authenticated caller.
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Batch summaries returned.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BatchSummary'
        '401':
          description: Missing or invalid bearer token.
  /v1/batches/{deviceId}/{batchId}:
    get:
      operationId: getBatchDetail
      summary: Retrieve batch detail
      description: >
        Returns the stored ingest payload for a specific batch belonging to a device the caller owns.
      security:
        - BearerAuth: []
      parameters:
        - name: deviceId
          in: path
          required: true
          schema:
            type: string
          description: Device identifier associated with the batch.
        - name: batchId
          in: path
          required: true
          schema:
            type: string
          description: Ingest batch identifier.
      responses:
        '200':
          description: Batch detail returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchDetail'
        '401':
          description: Missing or invalid bearer token.
        '403':
          description: Caller does not own the referenced batch.
        '404':
          description: Device or batch not found, or payload unavailable.
  /v1/user/settings:
    get:
      operationId: getUserSettings
      summary: Retrieve user settings
      description: Returns account preferences configured for the authenticated user.
      security:
        - BearerAuth: []
      responses:
        '200':
          description: User settings returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserSettings'
        '401':
          description: Missing or invalid bearer token.
    put:
      operationId: updateUserSettings
      summary: Update user settings
      description: >
        Sets account preferences for batches, map rendering, and theme. Theme
        persistence requires the theme save unlock entitlement.
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserSettingsUpdate'
      responses:
        '200':
          description: Updated settings returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserSettings'
        '400':
          description: Invalid settings payload.
        '403':
          description: Theme saving is not unlocked for the account.
        '401':
          description: Missing or invalid bearer token.
components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    ErrorResponse:
      type: object
      description: >
        Standard error payload emitted by API routes and gateway handlers.
        Endpoint-specific metadata (for example `details`, `poll_interval`,
        `retry_after`, or `forbiddenDeviceIds`) may be present.
      required:
        - error
      properties:
        error:
          type: string
          description: Machine-readable lower_snake_case error code.
        message:
          type: string
          description: Human-readable error detail.
      additionalProperties: true
    CheckoutRedirectSession:
      type: object
      description: Redirect payload for a newly created Stripe Checkout session.
      required:
        - sessionId
        - url
      properties:
        sessionId:
          type: string
          description: Stripe Checkout session identifier.
        url:
          type: string
          format: uri
          description: Hosted Stripe Checkout URL to open in the browser.
    NodePurchaseCheckoutRequest:
      type: object
      additionalProperties: false
      properties:
        variantId:
          type: string
          enum:
            - standard
            - no2
            - co2
            - co2_no2
          description: Selected CrowdPM hardware product variant.
        quantity:
          type: integer
          minimum: 1
          maximum: 10
          default: 1
          description: Number of devices to purchase in this checkout.
    NodePurchaseReceipt:
      type: object
      required:
        - sessionId
        - purchaseType
        - status
        - quantity
        - currency
      properties:
        sessionId:
          type: string
          description: Stripe Checkout session identifier.
        purchaseType:
          type: string
          enum: [node_hardware]
        status:
          type: string
          enum: [completed]
        paymentStatus:
          type: string
          nullable: true
        variantId:
          type: string
          nullable: true
          enum:
            - standard
            - no2
            - co2
            - co2_no2
        variantLabel:
          type: string
          nullable: true
        quantity:
          type: integer
          minimum: 1
          maximum: 10
        currency:
          type: string
          example: usd
        unitAmount:
          type: integer
          nullable: true
          description: Per-device pre-tax price in the smallest currency unit.
        amountSubtotal:
          type: integer
          nullable: true
        amountTax:
          type: integer
          nullable: true
        amountShipping:
          type: integer
          nullable: true
        amountDiscount:
          type: integer
          nullable: true
        amountTotal:
          type: integer
          nullable: true
        completedAt:
          type: string
          format: date-time
          nullable: true
        customerEmail:
          type: string
          nullable: true
        shippingName:
          type: string
          nullable: true
        shippingAddress:
          type: object
          nullable: true
          additionalProperties:
            type: string
            nullable: true
    DeviceStatus:
      type: string
      enum:
        - ACTIVE
        - SUSPENDED
    Device:
      type: object
      description: A registered CrowdPM device.
      properties:
        id:
          type: string
          description: Device identifier.
        name:
          type: string
          description: Friendly name supplied by the owner.
        ownerUserIds:
          type: array
          description: All Firebase UIDs that can access the device.
          items:
            type: string
          minItems: 1
        publicDeviceId:
          type: string
          description: Raw device identifier provided by the owner (before namespacing).
        ownerScope:
          type: string
          description: Slugged segment derived from the owner UID that is prepended to device IDs for uniqueness.
        status:
          $ref: '#/components/schemas/DeviceStatus'
        createdAt:
          type: string
          format: date-time
          description: Timestamp when the device record was created.
        location:
          $ref: '#/components/schemas/Location'
      required:
        - id
        - name
        - ownerUserIds
        - status
        - createdAt
    ActivationSession:
      type: object
      description: Metadata about a pending pairing session.
      properties:
        device_code:
          type: string
        user_code:
          type: string
        model:
          type: string
        version:
          type: string
        fingerprint:
          type: string
          description: First bytes of the Ke hash, used for human verification.
        status:
          type: string
          enum: [pending, authorized, redeemed, expired]
        requested_at:
          type: string
          format: date-time
        expires_at:
          type: string
          format: date-time
        requester_ip:
          type: string
          nullable: true
        requester_asn:
          type: string
          nullable: true
        poll_interval:
          type: integer
        device_id:
          type: string
          nullable: true
        authorized_account:
          type: string
          nullable: true
        viewer_account:
          type: string
          nullable: true
      required:
        - device_code
        - user_code
        - model
        - version
        - status
        - requested_at
        - expires_at
    Location:
      type: object
      description: Latitude and longitude in decimal degrees.
      properties:
        latitude:
          type: number
          format: double
          minimum: -90
          maximum: 90
        longitude:
          type: number
          format: double
          minimum: -180
          maximum: 180
      required:
        - latitude
        - longitude
    RegisterDeviceRequest:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          minLength: 1
          example: CrowdPM Sensor - Home
          description: Friendly name to display in dashboards.
    DeviceRegistrationResponse:
      type: object
      required:
        - id
      properties:
        id:
          type: string
          description: Newly generated device identifier.
    IngestPoint:
      type: object
      required:
        - device_id
        - pollutant
        - value
        - timestamp
      properties:
        device_id:
          type: string
        pollutant:
          type: string
          enum: [pm25]
        value:
          type: number
          format: float
        unit:
          type: string
        lat:
          type: number
          format: double
        lon:
          type: number
          format: double
        altitude:
          type: number
          format: double
          nullable: true
        precision:
          type: integer
          nullable: true
        timestamp:
          type: string
          format: date-time
        flags:
          type: integer
          nullable: true
    IngestBody:
      type: object
      properties:
        device_id:
          type: string
        points:
          type: array
          items:
            $ref: '#/components/schemas/IngestPoint'
    IngestPointOverrides:
      type: object
      description: Overrides applied to each generated point.
      additionalProperties: false
      properties:
        device_id:
          type: string
        pollutant:
          type: string
          enum: [pm25]
        value:
          type: number
          format: float
        unit:
          type: string
        lat:
          type: number
          format: double
        lon:
          type: number
          format: double
        altitude:
          type: number
          format: double
          nullable: true
        precision:
          type: integer
          nullable: true
        timestamp:
          type: string
          format: date-time
        flags:
          type: integer
          nullable: true
    IngestSmokeTestRequest:
      type: object
      properties:
        deviceId:
          type: string
          description: Device identifier to seed; defaults to a generated ID.
        payload:
          $ref: '#/components/schemas/IngestBody'
        pointOverrides:
          $ref: '#/components/schemas/IngestPointOverrides'
        visibility:
          $ref: '#/components/schemas/BatchVisibility'
          description: Overrides the visibility of the generated batch; defaults to the caller's user setting.
    IngestSmokeTestResponse:
      type: object
      properties:
        accepted:
          type: boolean
          description: Indicates whether the payload was accepted for processing.
        batchId:
          type: string
        deviceId:
          type: string
        storagePath:
          type: string
          description: Cloud Storage object path for the gzipped batch payload.
        payload:
          $ref: '#/components/schemas/IngestBody'
        points:
          type: array
          items:
            $ref: '#/components/schemas/IngestPoint'
        visibility:
          $ref: '#/components/schemas/BatchVisibility'
        seededDeviceId:
          type: string
        seededDeviceIds:
          type: array
          items:
            type: string
      required:
        - accepted
        - batchId
        - deviceId
        - storagePath
        - visibility
    BatchVisibility:
      type: string
      description: Controls whether a batch can be surfaced in public interfaces.
      enum:
        - public
        - private
    ModerationState:
      type: string
      description: Moderation status applied to submissions.
      enum:
        - approved
        - quarantined
    BatchSummary:
      type: object
      description: Summary metadata for an ingest batch.
      properties:
        batchId:
          type: string
          description: Batch identifier.
        deviceId:
          type: string
          description: Device associated with the batch.
        deviceName:
          type: string
          nullable: true
          description: Friendly device name, if one is set.
        count:
          type: integer
          description: Number of points recorded in the batch.
        processedAt:
          type: string
          format: date-time
          nullable: true
          description: Timestamp when the batch was processed.
        visibility:
          $ref: '#/components/schemas/BatchVisibility'
          description: Visibility designation attached to the batch.
        moderationState:
          $ref: '#/components/schemas/ModerationState'
          description: Moderation state attached to the batch.
      required:
        - batchId
        - deviceId
        - count
        - visibility
        - moderationState
    BatchDetail:
      allOf:
        - $ref: '#/components/schemas/BatchSummary'
        - type: object
          required:
            - points
          properties:
            points:
              type: array
              description: Ingest payload persisted for the batch.
              items:
                $ref: '#/components/schemas/IngestPoint'
    PublicBatchSummary:
      allOf:
        - $ref: '#/components/schemas/BatchSummary'
    PublicBatchDetail:
      allOf:
        - $ref: '#/components/schemas/BatchDetail'
    AdminSubmissionSummary:
      allOf:
        - $ref: '#/components/schemas/BatchSummary'
        - type: object
          properties:
            moderationReason:
              type: string
              nullable: true
            moderatedBy:
              type: string
              nullable: true
            moderatedAt:
              type: string
              format: date-time
              nullable: true
    AdminSubmissionListResponse:
      type: object
      properties:
        submissions:
          type: array
          items:
            $ref: '#/components/schemas/AdminSubmissionSummary'
      required:
        - submissions
    AdminSubmissionUpdateRequest:
      type: object
      required:
        - moderationState
      properties:
        moderationState:
          $ref: '#/components/schemas/ModerationState'
        reason:
          type: string
          nullable: true
    AdminRole:
      type: string
      enum:
        - super_admin
        - moderator
    AdminUserSummary:
      type: object
      properties:
        uid:
          type: string
        email:
          type: string
          nullable: true
        disabled:
          type: boolean
        roles:
          type: array
          items:
            $ref: '#/components/schemas/AdminRole'
        createdAt:
          type: string
          format: date-time
          nullable: true
        lastSignInAt:
          type: string
          format: date-time
          nullable: true
      required:
        - uid
        - disabled
        - roles
    AdminUsersListResponse:
      type: object
      properties:
        users:
          type: array
          items:
            $ref: '#/components/schemas/AdminUserSummary'
        nextPageToken:
          type: string
          nullable: true
      required:
        - users
        - nextPageToken
    AdminUserUpdateRequest:
      type: object
      properties:
        roles:
          type: array
          items:
            $ref: '#/components/schemas/AdminRole'
        disabled:
          type: boolean
        reason:
          type: string
    IngestCleanupRequest:
      type: object
      properties:
        deviceId:
          type: string
        deviceIds:
          type: array
          items:
            type: string
    IngestCleanupResponse:
      type: object
      properties:
        clearedDeviceId:
          type: string
          nullable: true
        clearedDeviceIds:
          type: array
          items:
            type: string
    UserSettings:
      type: object
      properties:
        defaultBatchVisibility:
          $ref: '#/components/schemas/BatchVisibility'
          description: Visibility applied to newly created batches when not explicitly specified.
        interleavedRendering:
          type: boolean
          description: Whether the map should render deck.gl interleaved with Google Maps (may be less stable on some GPUs).
        theme:
          $ref: '#/components/schemas/UserThemeSettings'
        themeSaveUnlocked:
          type: boolean
          description: Whether the account has purchased the one-time entitlement that allows saving theme preferences.
        subscription:
          $ref: '#/components/schemas/SubscriptionSummary'
        subscriptionOffers:
          type: array
          items:
            $ref: '#/components/schemas/SubscriptionOffer'
      required:
        - defaultBatchVisibility
        - interleavedRendering
        - theme
        - themeSaveUnlocked
        - subscription
        - subscriptionOffers
    SubscriptionSummary:
      type: object
      properties:
        planId:
          type: string
          enum: [free_community, pro, research_lab]
        label:
          type: string
        source:
          type: string
          enum: [free, stripe, manual]
        status:
          type: string
          enum: [active, inactive, trialing, past_due, canceled]
        billingInterval:
          type: string
          nullable: true
          enum: [month, year]
        canManageBilling:
          type: boolean
        cancelAtPeriodEnd:
          type: boolean
        currentPeriodEnd:
          type: string
          format: date-time
          nullable: true
        videoDownloadAccess:
          type: string
          enum: [preview_watermarked, full]
        limits:
          $ref: '#/components/schemas/SubscriptionLimits'
        usage:
          $ref: '#/components/schemas/SubscriptionUsage'
      required:
        - planId
        - label
        - source
        - status
        - billingInterval
        - canManageBilling
        - cancelAtPeriodEnd
        - currentPeriodEnd
        - videoDownloadAccess
        - limits
        - usage
    SubscriptionLimits:
      type: object
      properties:
        maxActiveDevices:
          type: integer
        maxStoredBatchesTotal:
          type: integer
        maxStoredPrivateBatches:
          type: integer
        monthlyPoints:
          type: integer
        maxPointsPerBatch:
          type: integer
      required:
        - maxActiveDevices
        - maxStoredBatchesTotal
        - maxStoredPrivateBatches
        - monthlyPoints
        - maxPointsPerBatch
    SubscriptionUsage:
      type: object
      properties:
        activeDevices:
          type: integer
        storedBatchesTotal:
          type: integer
        storedPrivateBatches:
          type: integer
        monthlyPointsUsed:
          type: integer
        monthlyPointsRemaining:
          type: integer
        monthKey:
          type: string
        resetAt:
          type: string
          format: date-time
      required:
        - activeDevices
        - storedBatchesTotal
        - storedPrivateBatches
        - monthlyPointsUsed
        - monthlyPointsRemaining
        - monthKey
        - resetAt
    SubscriptionOffer:
      type: object
      properties:
        offerId:
          type: string
          enum: [pro_monthly, pro_yearly, research_contact]
        planId:
          type: string
          enum: [free_community, pro, research_lab]
        label:
          type: string
        description:
          type: string
        currency:
          type: string
          nullable: true
        unitAmount:
          type: integer
          nullable: true
        billingInterval:
          type: string
          nullable: true
          enum: [month, year]
        action:
          type: string
          enum: [checkout, contact]
        contactEmail:
          type: string
          nullable: true
      required:
        - offerId
        - planId
        - label
        - description
        - currency
        - unitAmount
        - billingInterval
        - action
        - contactEmail
    UserThemeSettings:
      type: object
      properties:
        appearance:
          type: string
          enum: [light, dark]
        accentColor:
          type: string
          enum: [gray, gold, bronze, brown, yellow, amber, orange, tomato, red, ruby, crimson, pink, plum, purple, violet, iris, indigo, blue, cyan, teal, jade, green, grass, lime, mint, sky]
        grayColor:
          type: string
          enum: [auto, gray, mauve, slate, sage, olive, sand]
        panelBackground:
          type: string
          enum: [solid, translucent]
        radius:
          type: string
          enum: [none, small, medium, large, full]
        scaling:
          type: string
          enum: [90%, 95%, 100%, 105%, 110%]
      required:
        - appearance
        - accentColor
        - grayColor
        - panelBackground
        - radius
        - scaling
    UserSettingsUpdate:
      type: object
      properties:
        defaultBatchVisibility:
          $ref: '#/components/schemas/BatchVisibility'
        interleavedRendering:
          type: boolean
        theme:
          $ref: '#/components/schemas/UserThemeSettingsUpdate'
      additionalProperties: false
    UserThemeSettingsUpdate:
      type: object
      properties:
        appearance:
          type: string
          enum: [light, dark]
        accentColor:
          type: string
          enum: [gray, gold, bronze, brown, yellow, amber, orange, tomato, red, ruby, crimson, pink, plum, purple, violet, iris, indigo, blue, cyan, teal, jade, green, grass, lime, mint, sky]
        grayColor:
          type: string
          enum: [auto, gray, mauve, slate, sage, olive, sand]
        panelBackground:
          type: string
          enum: [solid, translucent]
        radius:
          type: string
          enum: [none, small, medium, large, full]
        scaling:
          type: string
          enum: [90%, 95%, 100%, 105%, 110%]
      additionalProperties: false
